@font-face {
  font-family: "Roboto";
  scr: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  scr: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  scr: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*Variables*/
:root {
  --basic-black: #000000;
  --basic-dark: #283136;
  --basic-grey: #eeeeee;
  --basic-lite-grey: #e1e1e1;
  --basic-green: #00ca74;
  --basic-red: #fb565a;
  --basic-yellow: #efc849;
  --basic-extra-light: #888888;
  --basic-white: #ffffff;

  --special-red: #e74246;
  --special-extra-red: #d7373b;
  --special-green: #00bc6c;
  --special-extra-green: #00aa62;
  --special-yellow: #eab534;
  --special-extra-yellow: #e5a722;
  --special-grey: #dfdfdf;
  --special-extra-grey: #d5d5d5;
  --special-dark-grey: #4d4d4d;
}

/*Body*/

.page-body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.headers {
  color: var(--basic-black);
}

.services {
  margin-top: 100px;
}

.service-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: transparent;
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.description {
  margin-bottom: 40px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.statistics img {
  margin-bottom: 37px;
}

.page-catalog {
  display: grid;
  grid-template-columns: 180px 1fr;
  align-content: start;
}

.main-header-logo {
  margin-left: 100px;
  margin-bottom: 300px;
}

.main-header-bar {
  background-color: var(--basic-grey);
}

.main-header {
  background-color: var(--basic-grey);
  margin-bottom: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.index-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
}

.site-navigation {
  display: flex;
}

.site-navigation a,
.basket a {
  color: var(--basic-black);
  display: block;
  padding-right: 45px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket a:hover,
.basket a:focus {
  color: var(--basic-red);
}

.basket {
  margin-bottom: 87px;
}

.logos-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.service-list {
  list-style: none;
}

.service-item {
  margin-right: 100px;
}

.service-item {
  font-size: 24px;
  line-height: 30px;
  width: 300px;
}

.button-red {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700px;
  font: inherit;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
  height: 50px;
  width: 250px;
  text-align: center;
  padding-top: 17px;
}

.button-green {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700px;
  font: inherit;
  color: var(--basic-white);
  background-color: var(--basic-green);
  border: none;
  border-radius: 3px;
  height: 50px;
  width: 250px;
  text-align: center;
  padding-top: 17px;
}

.button-yellow {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700px;
  font: inherit;
  color: var(--basic-white);
  background-color: var(--basic-yellow);
  border: none;
  border-radius: 3px;
  height: 50px;
  width: 250px;
  text-align: center;
  padding-top: 17px;
}

.order-list {
  list-style: none;
}

.filter-result {
  padding-left: 100px;
}

.button {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700px;
  font: inherit;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
  height: 50px;
  width: 250px;
}

.services h2 {
  display: none;
}

.container h1 {
  display: none;
}

.contacts-phone {
  color: inherit;
}

.appointment-item input {
  font: inherit;
  background-color: transparent;
  border-color: var(special-grey);
  border-radius: 3px;
}

.appointment-item input:focus,
.appointment-item input:hover {
  border-color: var(--basic-black);
}

.social-button {
  display: flex;
  margin-right: 9px;
  border-radius: 50%;
  align-content: center;
  justify-content: center;
  display: block;
  width: 81px;
  height: 81px;
  color: inherit;
  background-color: var(--basic-lite-grey);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red);
}

.social-list img {
  padding-top: 30px;
}

.sort-types {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
}

.sort-list li {
  margin-right: 25px;
}

.sort-list {
  display: flex;
  list-style: none;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 55px;
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 68px;
  margin-left: 300px;
  color: var(--basic-black);
}

.social-list {
  display: flex;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-call {
  margin-left: -400px;
}

.footer-call h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.logos-list {
  list-style: none;
}

.headers-bold {
  font-weight: 700;
  font-size: 35px;
  line-height: 30px;
}

.slogan {
  padding-left: 370px;
  background-color: var(--basic-grey);
}

.headers-motto {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: center;
  background-repeat: no-repeat;
}

.headers-losung {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-transform: none;
  color: var(--basic-black);
  background-color: var(--basic-grey);
  background-position: center;
  background-repeat: no-repeat;
}

.headers-description {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-transform: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: center;
  background-repeat: no-repeat;
}

.headers-orders {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: center;
  background-repeat: no-repeat;
}

.page {
  height: 100%;
}

.page-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--special-dark-grey);
}

.all-cards h2 {
  display: none;
}

.inner-page h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 62px;
  padding-bottom: 101px;
  background-color: var(--basic-grey);
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  width: 358px;
  min-height: 578px;
  margin-right: 42px;
  margin-bottom: 72px;
}

.catalog-item a {
  color: var(--basic-white);
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 30px;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: var(--basic-black);
  background-color: var(--basic-grey);
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: var(--special-grey);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background-color: var(--basic-white);
  border: 3px solid #dbdbdb;
  border-radius: 3px;
}
